body
{
    margin: 40px 20px 20px 20px;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: gray;
}

div#container
{
    padding: 2px;
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    position: relative
    perspective: 1600px;
    perspective-origin: 50% 50%;
}

div#map
{
    margin: 20px auto;
    width: 50%;
    height: 80%;
    border: 1px solid blue;
    transform-style: preserve-3d;
}

.spinMap
{
    -webkit-animation: spinMapWebkit 8s infinite ease-in-out;
} 

.spinIdea
{
    -webkit-animation: spinIdea 8s infinite ease-in-out;
}

@-webkit-keyframes spinIdea
{
        0% { -webkit-transform: rotateX(    0deg ) rotateY(    0deg ); }
       25% { -webkit-transform: rotateX(  -90deg ) rotateY(  -90deg ); }
       50% { -webkit-transform: rotateX( -180deg ) rotateY( -180deg ); }
       75% { -webkit-transform: rotateX( -270deg ) rotateY( -270deg ); }
      100% { -webkit-transform: rotateX( -360deg ) rotateY( -360deg ); }
}

@-webkit-keyframes spinMapWebkit
{
        0% { -webkit-transform: rotateX(   0deg ) rotateY(0deg); }
      100% { -webkit-transform: rotateX( 360deg ) rotateY(360deg); }
}

div.idea
{
    height: 50px;
    font-size: 28px;
    padding: 10px;
    position: absolute;
    z-index: 2;
    display: inline-block;
    background-color: hsla(120, 100%, 50%, 1.0);
    line-height: 50px;
    text-align: center;
}

div.idea:hover
{
    background-color: hsla(200, 100%, 50%, 1.0);
}

div.line
{
    height: 3px;
    border: solid thin red;
    position: absolute;
    z-index: 1;
}

div.line:hover
{
    border: solid thin blue;
}
