body
{
    background-color: #c0ede0;
    margin: 10px auto 0px auto;
    width: 1150px;
}
div:not(.kineticjs-content)
{
    background-color: #a7c8ce;
    border: 1px solid; 
    border-color: #8fabb0;
    border-radius: 25px;
    box-shadow: 0px 0px 20px #888888;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#map 
{
    margin-left: 25px;
    float: left;

    height: 600px;
    width: 800px;
}
#inputs
{
    margin-left: 25px;
    padding: 30px 10px 10px 10px;

    float: left;
    height: 560px;
    width: 250px;
}
#notes
{
    display: none;
    
    margin-left: 25px;
    margin-top: 25px;
    padding: 30px 10px 10px 10px;

    float: left;
    clear: left;

    height: 150px;
    width: 250px;
}

label
{
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
}
input, select
{
    border: 2px solid;
    border-color: #8fabb0;
    border-radius: 5px;
    font-size: 20px;
    padding: 3px;
    width: 100%;
}

input#shapeColor
{
    height: 50px;
}
button
{
    border: 2px solid;
    border-color: #8fabb0;
    border-radius: 5px;
    font-size: 20px;
    padding: 3px;
    width: 100%;
}
button:hover
{
    border-color: green;
    box-shadow: 0px 0px 10px green;
}
